{% extends "layout.html" %}

{% block content %}

  {{ hooks.run_template_hook("tmpl_before_content") | safe }}

  {% for plugin in plugins %}
    <b>{{ plugin.name }}</b> by {{ plugin.author }} <br />
    <i>{{ plugin.description }}</i> <br />
    {{ plugin.license }}</br>

    <a href="{{ url_for('disable', plugin=plugin.name) }}">Disable</a> <br />
    <a href="{{ url_for('enable', plugin=plugin.name) }}">Enable</a>
    (<small>The Blueprint is still accessible via /hello because a blueprint cannot be unregistered _and_ needs to be registered before the app is serving requests.</small>)
  {% endfor %}
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

{% endblock %}
